front-end/.DS_Store
front-end/node_modules/
/front-end/dist/
front-end/npm-debug.log*
front-end/yarn-debug.log*
front-end/yarn-error.log*
/front-end/test/unit/coverage/
/front-end/test/e2e/reports/
front-end/selenium-debug.log

# Editor directories and files
.idea
.vscode
*.iml
*.suo
*.ntvs*
*.njsproj
*.sln