.DS_Store
node_modules/
/front-end/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/front-end/test/unit/coverage/
/front-end/test/e2e/reports/
selenium-debug.log
/target/
# Editor directories and files
.idea
.vscode
*.iml
*.suo
*.ntvs*
*.njsproj
*.sln